/* Hoja de estilos del Proyecto Integrador
*  del primer módulo del curso de Full Stak
*  de Nucba
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  /* border: 1px solid gray; */
}

:root {
  --texto-oscuro: #000513;
  --azul: #142559;
  --celeste-claro: #7395d9;
  --celeste: #4b72a6;
  --celeste-oscuro: #3f5573;
  --verde-oscuro: #364021;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -74px;
  color: white;
  background-image: url(./img/fondo-portada.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  box-shadow: 0 10px 10px var(--celeste-oscuro);
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0 30px;
  top: 5px;
  width: 100%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 70%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s ease-in;
}

.logo-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.logo-brand img {
  width: 100px;
  margin: 2px 8px 2px 0;
  filter: drop-shadow(0 0 8px white);
  -webkit-filter: drop-shadow(0 0 8px white);
}

.logo-brand a {
  font-size: 24px;
  color: white;
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle-menu {
  display: none;
}

#toggle-btn {
  display: none;
  /**/
  font-size: 32px;
  color: white;
  box-shadow: 0 2px 2px var(--celeste-oscuro);
  border: 1px solid var(--celeste-oscuro);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.items,
.items a {
  font-size: 20px;
  font-weight: 600;
  color: var(--celeste-claro);
  text-shadow: 0 1px 5px white;
  transition: all 0.2s ease-in;
}

.items a:hover {
  color: white;
  text-shadow: 0 1px 15px var(--celeste-claro);
  transition: all 0.2s ease-in;
}

.blurer {
  width: 790px;
  height: 100vh;
  position: absolute;
  background: #ffffff20;
  top: 49px;
  left: -700px;
  z-index: -1;
  backdrop-filter: blur(8px);
  display: none;
}

/* CABECERA / PORTADA*/

#portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portada-contenedor {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px;
  text-align: center;
  gap: 20px;
}

.titulo {
  font-size: 38px;
  text-shadow: 1px 2px 6px black, -1px -2px 6px gray;
  text-transform: uppercase;
}

.parrafo-inicial {
  font-size: 22px;
  font-weight: 500;
  text-shadow: 1px 2px 2px black, -1px -2px 2px gray;
}

.portada-botones {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 20px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 8px black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn:first-child {
  background: radial-gradient(var(--celeste-claro), var(--celeste-oscuro));
  color: white;
  transition: all 0.2s ease-in;
}

.btn:hover {
  box-shadow: 0 0 25px white;
  transition: all 0.2s ease-in;
}

.btn a {
  color: var(--texto-oscuro);
  font-weight: 800;
}

/* SECCION NOSOTROS */

#nosotros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.nosotros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 50px;
}

.nosotros-imagen {
  width: 45%;
  height: 300px;
  background-image: url(./img/nuestra-fabrica.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 0 5px black;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
/* texto en algun azul oscuro pastel probar*/
.nosotros-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 45%;
  color: var(--texto-oscuro);
}

.nosotros-titulo {
  margin-bottom: 12px;
  font-size: 28px;
}

.nosotros-texto p {
  font-size: 16px;
  margin: 10px 0;
}

/* SECCION SERVICIOS */

#servicios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.servicios-container {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    45deg,
    var(--celeste-oscuro),
    var(--celeste-claro)
  );
  box-shadow: 0 0 10px 3px var(--celeste-oscuro);
}

.servicios-titulo,
.contacto-titulo {
  font-size: 36px;
  color: var(--texto-oscuro);
  text-shadow: 0 0 15px white;
}

.servicios-cards {
  width: 98%;
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 50%);
  box-shadow: 0 2px 5px var(--celeste-claro);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card i {
  font-size: 38px;
  background: radial-gradient(white, rgb(220, 220, 220));
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 2px 5px rgb(155, 155, 155);
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#contacto {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/contacto.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.contacto-container {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contacto-map,
.contacto-info,
.contacto-form {
  width: 25%;
  height: 350px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 90%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px white;
}

.contacto-map {
}

.contacto-info {
  padding: 10px 3%;
  display: flex;
  flex-direction: column;
}

.contacto-lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto-info-ok {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px auto;
  font-size: 40px;
  color: rgb(233, 114, 3);
  text-shadow: 0 0 10px rgb(124, 60, 0);
  transition: all 0.2s ease-in;
}

.contacto-info-ok:hover {
  text-shadow: 0 0 10px rgb(216, 105, 1);
  transition: all 0.2s ease-in;
}

.contacto-form {
  padding: 10px;
}

.contact-form-titulo,
.contact-info-titulo {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.contacto-form form {
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 5px;
}

.contacto-form label {
}

.contacto-form input,
.contacto-form textarea {
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contacto-form input,
.contacto-form textarea {
  margin-bottom: 10px;
}

#enviar {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#enviar:hover {
  background-color: #005500;
  color: #fff;
  transition: all 0.2s ease-in;
}

/* FOOTER */

#footer {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--celeste-oscuro), var(--celeste-claro));
  gap: 25px;
  box-shadow: 0 0 10px 3px var(--celeste-oscuro);
}

#footer img {
  filter: drop-shadow(0 0 8px white);
  -webkit-filter: drop-shadow(0 0 8px white);
  width: 250px;
}
